@import url("https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@200..700&display=swap");

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* PAGE STYLES */
body {
  /* background: #f0ead6; */
  background: rgb(255, 122, 112);
  background: radial-gradient(
    circle,
    rgba(255, 122, 112, 1) 0%,
    rgba(240, 234, 214, 1) 70%
  );

  font-weight: 700;
  font-style: normal;
  color: #2e4045;
}

header {
  text-align: center;
  margin-top: 10px;
  padding: 15px;
}

ul {
  list-style-type: none;
  /* border: 2px solid black; */
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;

  width: 80%;
  margin: 1rem auto;
  background: #aad59e;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

ul .card {
  width: 85%;
  height: fit-content;
  margin: 12px 0px;
  background: #f0ead6;
  border: 5px solid #cdbcdb;
  border-radius: 10px;

  display: flex-column;

  transition: all 1s ease-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
}

.card figure {
  padding: 0.5rem;
}

figure img {
  border-radius: 10px;
}

.card article {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card button {
  padding: 5px 20px;
  margin-top: 0.5rem;
  background: #cdbcdb;
  border: none;
  border-radius: 5px;
}

@media screen and (min-width: 1000px) {
  ul .card {
    width: 45%;
  }
}
